Flask==0.11.1 
Flask-Bootstrap==3.3.7.0
Flask-HTTPAuth==2.7.0 
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.3
Flask-Moment==0.5.1
Flask-PageDown==0.2.2 
Flask-SQLAlchemy==2.1 
Flask-SSLify==0.1.4 
Flask-Script==0.6.6 
Flask-WTF==0.13.1 
Jinja2==2.8 
Mako==0.9.1 
Markdown==2.6.7 
MarkupSafe==0.23 
SQLAlchemy==1.1.4 
WTForms==2.1 
Werkzeug==0.11.11
alembic==0.8.10 
bleach==1.5.0 
blinker==1.4 
html5lib==1.0b3 
itsdangerous==0.23 
six==1.4.1 
gunicorn==18.0 
psycopg2==2.5.1 
gevent==1.2.0