{% extends "base.html" %}

{% block content %}
<div class="main-post-list {% if not show_article_list %}hidden{% endif %}">
  {% include '_post_list.html' %}
  <hr class="post-list__divider " />
  <nav class="pagination" role="navigation">   
        {% if pagination.has_prev %}
          <a class="newer-posts pagination__newer btn btn-small btn-tertiary" href="/{{pagination.prev_num}}">&larr; 上一页</a>
        {%  endif %}
    <span class="pagination__page-number"> {{ pagination.page }} / {{ pagination.pages }} </span>    
        {% if pagination.has_next %}
          <a class="older-posts pagination__older btn btn-small btn-tertiary" href="/{{pagination.next_num}}">下一页 &rarr;</a>
        {%  endif %}  
  </nav>
</div>
{% endblock %}
