<ol class="post-list">
	{% for post in posts %}
	<li>
      <h2 class="post-list__post-title post-title">
      	<a href="/article/{{ post.id }}" title="访问 {{ post.title }}">{{ post.title }}</a>
      </h2>
      <p class="excerpt">
            {% if post.introduction %}
              {{ post.introduction }}&hellip;
            {% else %}
              {{ post.body if len(post.body) <= 200 else post.body[:201] }}
            {% endif %}
      </p>
      <div class="post-list__meta">
      	<time datetime="2016-01-19 15:32:24 +0900" class="post-list__meta--date date">{{ post.timestamp }}</time> &#8226; 
      	<span class="post-list__meta--tags tags">{{ post.tag }}</span>
      	<a class="btn-border-small" href="/article/{{ post.id }}">继续阅读</a>
      </div>
      <hr class="post-list__divider" />
    </li>
	{% endfor %}
</ol>