
<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>OneV&#39;s Den</title>
  <meta name="description" content="嗨，我是王巍 (@onevcat)，一名来自中国的 iOS / Unity 开发者。现居日本，就职于 LINE。正在修行，探求创意之源。">
  <meta name="author" content="Wei Wang">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="OneV&#39;s Den">
  <meta name="twitter:description" content="嗨，我是王巍 (@onevcat)，一名来自中国的 iOS / Unity 开发者。现居日本，就职于 LINE。正在修行，探求创意之源。">
  
  <meta property="og:type" content="article">
  <meta property="og:title" content="OneV&#39;s Den">
  <meta property="og:description" content="嗨，我是王巍 (@onevcat)，一名来自中国的 iOS / Unity 开发者。现居日本，就职于 LINE。正在修行，探求创意之源。">
  
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.ico') }}" />
  <link href="bg.jpg" rel="shortcut icon" type="image/png">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

  <link rel="canonical" href="http://onevcat.com/page/2/">
  <link rel="alternate" type="application/rss+xml" title="OneV's Den" href="http://onevcat.com/feed.xml">
  
  <meta name="google-site-verification" content="1-1ZlHoRvM0T2FqPbW2S-qLgYXN6rsn52kErlMPd_gw" />
  
</head>


  <body>

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    
    <header class="panel-cover " style="background-image: url('static/44.jpg')">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <a href="/" title="前往 OneV's Den 的主页" class="blog-button"><img src="{{ url_for('static',filename = 'icon.png') }}" width="80" alt="OneV's Den logo" class="panel-cover__logo logo" /></a>
        <h1 class="panel-cover__title panel-title"><a href="/#blog" title="link to homepage for OneV's Den" class="blog-button">Kunnka</a></h1>

        
        <span class="panel-cover__subtitle panel-subtitle">Better Together</span>
        
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">嗨，我是李博文 (@Kunnka)，软件工程师。现居深圳，主职iOS开发，偶尔用Python来干点有趣的事情</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        
        
        <p class="panel-cover__description">努力成为一名合格的软件工程师，不以语言和方向局限自己。学会分享，享受生活。</p>
        
        
        <div class="navigation-wrapper">
          <div>
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                <li class="navigation__item"><a href="/#blog" title="访问博客" class="blog-button">博客</a></li>
                
                  <li class="navigation__item"><a href="http://project.onevcat.com" target="_blank" title="我的项目">项目</a></li>
                
                  <li class="navigation__item"><a href="http://about.onevcat.com/" target="_blank" title="了解更多关于我">关于</a></li>
                
                  <li class="navigation__item"><a href="//store.objccn.io/subscribe" target="_blank" title="邮件订阅本站">订阅</a></li>
                
              </ul>
            </nav>
          </div>
          
          <div><nav class="cover-navigation navigation--social">
  <ul class="navigation">

  
  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/onevcat" title="@onevcat 的微博" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>
  

  
  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/onevcat" title="@onevcat 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>
  
  
  
  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/onevcat" title="@onevcat" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  

  
  <!-- Google Plus -->
  <li class="navigation__item">
    <a href="https://plus.google.com/107108267983477358170" rel="author" title="Google+" target="_blank">
      <i class='social fa fa-google-plus-square'></i>
      <span class="label">Google Plus</span>
    </a>
  </li>
  

  <!-- RSS -->
  <li class="navigation__item">
    <a href="/feed.xml" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  
  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:onev@onevcat.com" title="Contact me">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>
  

  </ul>
</nav>
</div>
        </div>
      </div>
    </div>
    
    
    <div class="panel-cover--overlay cover-disabled"></div>
    
  </div>
</header>


    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            <div class="main-post-list hidden">

  <ol class="post-list">
    
    <li>
      <h2 class="post-list__post-title post-title"><a href="/2016/02/swift-performance/" title="访问 Swift 性能探索和优化分析">Swift 性能探索和优化分析</a></h2>
      <p class="excerpt">本文首发在 CSDN《程序员》杂志，订阅地址 http://dingyue.programmer.com.cn/。Apple 在推出 Swift 时就将其冠以先进，安全和高效的新一代编程语言之名。前两点在 Swift 的语法和语言特性中已经表现得淋漓尽致：像是尾随闭包，枚举关联值，可选值和强制的类型安全等都是 Swift 显而易见的优点。但是对于高效一点，就没有那么明显了。在 2014 年 WWDC 大会上 Apple 宣称 Swift 具有超越 Objective-C 的性能，甚至某些情...&hellip;</p>
      <div class="post-list__meta"><time datetime="2016-02-25 11:32:24 +0900" class="post-list__meta--date date">2016-02-25</time> &#8226; <span class="post-list__meta--tags tags">能工巧匠集</span><a class="btn-border-small" href=/2016/02/swift-performance/>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    
    <li>
      <h2 class="post-list__post-title post-title"><a href="/2016/01/create-framework/" title="访问 如何打造一个让人愉快的框架">如何打造一个让人愉快的框架</a></h2>
      <p class="excerpt">  这是我在今年 1 月 10 日 @Swift 开发者大会 上演讲的文字稿。相关的视频还在制作中，没有到现场的朋友可以通过这个文字稿了解到这个 session 的内容。&lt;br&gt;虽然我的工作是程序员，但是最近半年其实我的主要干的事儿是养了一个小孩。所以这半年来可以说没有积累到什么技术，反而是积累了不少养小孩的心得。当知道了有这么次会议可以分享这半年来的心得的时候，我毫不犹豫地选定了主题。那就是  如何打造一个让人愉快的小孩但考虑到这是一次开发者会议…当我把这个想法和题目提交给大...&hellip;</p>
      <div class="post-list__meta"><time datetime="2016-01-19 15:32:24 +0900" class="post-list__meta--date date">2016-01-19</time> &#8226; <span class="post-list__meta--tags tags">能工巧匠集</span><a class="btn-border-small" href=/2016/01/create-framework/>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    
    <li>
      <h2 class="post-list__post-title post-title"><a href="/2015/12/2015-final/" title="访问 写在 2015 的尾巴">写在 2015 的尾巴</a></h2>
      <p class="excerpt">上一次写类似年终总结的东西已经是大概快十年前的事情了，那时候还刚进大学，每天也就喜欢发一些无病呻吟的东西。回望之后，发现那些蹉跎掉的岁月确实无法再重新来过，不过也让我懂得了，幸好我们还能珍惜当下。今年于我来说，注定是不平凡的一年。愈到年关，写作的冲动就愈发强烈，它驱使着我去记录下些什么，所以有了这篇写给自己的“阔别已久”的年终总结。无论何时，无论何地，平安就好前几天因为北京雾霾很凶，看到有人在说柴静的雾霾报告，自己之前没看过，所以就找来补了补课。《穹顶之下》确实是一部非常好的新闻调查片子，...&hellip;</p>
      <div class="post-list__meta"><time datetime="2015-12-29 01:03:40 +0900" class="post-list__meta--date date">2015-12-29</time> &#8226; <span class="post-list__meta--tags tags">胡言乱语集</span><a class="btn-border-small" href=/2015/12/2015-final/>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    
    <li>
      <h2 class="post-list__post-title post-title"><a href="/2015/10/apple-tv/" title="访问 当 App Store 遇上电视，开发者的第四代 Apple TV 开箱体验">当 App Store 遇上电视，开发者的第四代 Apple TV 开箱体验</a></h2>
      <p class="excerpt">引子2015 年 9 月，San Francisco。今年接近 100 华氏度的气温要比往年都更热，而 Apple 例行的秋季发布会也如期在这里举行。自从 iPhone 一战成名后，每年的 iPhone 旗舰机型都是移动通讯设备的业界标杆。而今年秋季发布会大家也自然地将重点放在了最新的 iPhone 6s 上。手机乏善可陈，除了硬件参数的一些常规升级外，我们并没有看到 iPhone 有多大进步。不过这也是大家预料之中，每隔两年一款的 s 系列定位就只是对之前版本的补充。另外，更大屏幕的 i...&hellip;</p>
      <div class="post-list__meta"><time datetime="2015-10-31 16:49:46 +0900" class="post-list__meta--date date">2015-10-31</time> &#8226; <span class="post-list__meta--tags tags">南箕北斗集</span><a class="btn-border-small" href=/2015/10/apple-tv/>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    
    <li>
      <h2 class="post-list__post-title post-title"><a href="/2015/09/ui-testing/" title="访问 WWDC15 Session笔记 - Xcode 7 UI 测试初窥">WWDC15 Session笔记 - Xcode 7 UI 测试初窥</a></h2>
      <p class="excerpt">Unit Test 在 iOS 开发中已经有足够多的讨论了。Objective-C 时代除了 Xcode 集成的 XCTest 以外，还有很多的测试相关的工具链可以使用，比如专注于提供 Mock 和 Stub 的 OCMock，使用行为驱动测试的 Kiwi 或者 Specta 等等。在 Swift 中，我们可以继续使用 XCTest 来进行测试，而 Swift 的 mock 和 stub 的处理，我们甚至不需要再借助于第三方框架，而使用 Swift 自身可以在方法中内嵌类型的特性来完成。关...&hellip;</p>
      <div class="post-list__meta"><time datetime="2015-09-27 20:58:47 +0900" class="post-list__meta--date date">2015-09-27</time> &#8226; <span class="post-list__meta--tags tags">能工巧匠集</span><a class="btn-border-small" href=/2015/09/ui-testing/>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    
    <li>
      <h2 class="post-list__post-title post-title"><a href="/2015/08/watchos2/" title="访问 WWDC15 Session笔记 - 30 分钟开发一个简单的 watchOS 2 app">WWDC15 Session笔记 - 30 分钟开发一个简单的 watchOS 2 app</a></h2>
      <p class="excerpt">Apple Watch 和 watchOS 第一代产品只允许用户在 iPhone 设备上进行计算，然后将结果传输到手表上进行显示。在这个框架下，手表充当的功能在很大程度上只是手机的另一块小一些的显示器。而在 watchOS 2 中，Apple 开放了在手表端直接进行计算的能力，一些之前无法完成的 app 现在也可以进行构建了。本文将通过一个很简单的天气 app 的例子，讲解一下 watchOS 2 中新引入的一些特性的使用方法。本文是我的 WWDC15 笔记中的一篇，在 WWDC15 中涉...&hellip;</p>
      <div class="post-list__meta"><time datetime="2015-08-03 23:23:34 +0900" class="post-list__meta--date date">2015-08-03</time> &#8226; <span class="post-list__meta--tags tags">能工巧匠集</span><a class="btn-border-small" href=/2015/08/watchos2/>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    
    <li>
      <h2 class="post-list__post-title post-title"><a href="/2015/06/multitasking/" title="访问 WWDC15 Session笔记 - iOS 9 多任务分屏要点">WWDC15 Session笔记 - iOS 9 多任务分屏要点</a></h2>
      <p class="excerpt">本文是我的 WWDC15 笔记中的一篇，涉及的 Session 有  Getting Started with Multitasking on iPad in iOS 9  Multitasking Essentials for Media-Based Apps on iPad in iOS 9  Optimizing Your App for Multitasking on iPad in iOS 9iOS 9 多任务综述iOS 9 中最引人注目的新特性就是多任务了，在很久以前的越狱开发...&hellip;</p>
      <div class="post-list__meta"><time datetime="2015-06-15 16:25:07 +0900" class="post-list__meta--date date">2015-06-15</time> &#8226; <span class="post-list__meta--tags tags">能工巧匠集</span><a class="btn-border-small" href=/2015/06/multitasking/>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    
    <li>
      <h2 class="post-list__post-title post-title"><a href="/2015/06/ios9-sdk/" title="访问 开发者所需要知道的 iOS 9 SDK 新特性">开发者所需要知道的 iOS 9 SDK 新特性</a></h2>
      <p class="excerpt">本文为InfoQ中文站特供稿件，首发地址。如需转载，请与InfoQ中文站联系。年年岁岁花相似，岁岁年年人不同。今年的 WWDC 一如既往的热闹，但是因为要照顾家里刚出生的宝宝以及宝宝的娘，就只能在家里的“窝里蹲”家庭影院来关注这一全球 Apple 开发者的盛会了。生命不息，学习不止。一如以往几年，我会陆续写一些关于 WWDC 和新的 SDK 里我觉得有意思和我自己重点关注和学习的内容。现在回头看前几年写的东西，愈来愈感觉到以前青葱岁月的自己真是傻得可爱。不过一路以来的成长轨迹倒是很明显，也...&hellip;</p>
      <div class="post-list__meta"><time datetime="2015-06-11 10:24:16 +0900" class="post-list__meta--date date">2015-06-11</time> &#8226; <span class="post-list__meta--tags tags">能工巧匠集</span><a class="btn-border-small" href=/2015/06/ios9-sdk/>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    
    <li>
      <h2 class="post-list__post-title post-title"><a href="/2015/05/scheme/" title="访问 Scheme 初步">Scheme 初步</a></h2>
      <p class="excerpt">之前定了每年学习一门语言的目标，自然不能轻言放弃。今年目标：简单掌握 Scheme。因为自己接触这门语言也不过寥寥数天，所以更多的会以引导的方式简单介绍语法，而不会 (也没有能力) 去探讨什么深入的东西。本文很多例程和图示参考了紫藤貴文的《もうひとつの Scheme 入門》这篇深入浅出的教程，这篇教程现在也有英译版和中译版。我自己是参照这篇教程入门的，一方面这篇教程可以说是能找到合适初学者学习的很好的材料，另一方面也希望能挑战一下自己的日文阅读能力 (结果对比日文和英文看下来发现果然还是日...&hellip;</p>
      <div class="post-list__meta"><time datetime="2015-05-08 12:59:45 +0900" class="post-list__meta--date date">2015-05-08</time> &#8226; <span class="post-list__meta--tags tags">南箕北斗集</span><a class="btn-border-small" href=/2015/05/scheme/>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    
    <li>
      <h2 class="post-list__post-title post-title"><a href="/2015/03/cross-platform/" title="访问 跨平台开发时代的 (再次) 到来？">跨平台开发时代的 (再次) 到来？</a></h2>
      <p class="excerpt">这篇文章主要想谈谈最近又刮起的移动开发跨平台之风，并着重介绍和对比一下像是 Xamarin，NativeScript 和 React Native 之类的东西。不会有特别深入的技术讨论，大家可以当作一篇科普类的文章来看。故事的开始“一次编码，处处运行” 永远是程序员们的理想乡。二十年前 Java 正是举着这面大旗登场，击败了众多竞争对手。但是时至今日，事实已经证明了 Java 笨重的体型和缓慢的发展显然已经很难再抓住这个时代快速跃动的脚步。在新时代的移动大潮下，一个应用想要取胜，完美的使用...&hellip;</p>
      <div class="post-list__meta"><time datetime="2015-03-27 18:56:08 +0900" class="post-list__meta--date date">2015-03-27</time> &#8226; <span class="post-list__meta--tags tags">能工巧匠集</span><a class="btn-border-small" href=/2015/03/cross-platform/>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    
  </ol>

  <hr class="post-list__divider " />

<nav class="pagination" role="navigation">
    
        <a class="newer-posts pagination__newer btn btn-small btn-tertiary" href="/#blog">&larr; 最近</a>
    
    <span class="pagination__page-number">2 / 11</span>
    
        <a class="older-posts pagination__older btn btn-small btn-tertiary" href="/page/3/#blog">更早 &rarr;</a>
    
</nav>


</div>

            <section class="footer">
    <footer>
      <span class="footer__copyright">本站点采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a></span>
        <span class="footer__copyright">由 <a href="https://jekyllrb.com">Jekyll</a> 于 2017-02-22 生成，感谢 <a href="https://www.digitalocean.com/?refcode=30ed2d146762">Digital Ocean</a> 为本站提供稳定的 VPS 服务</span>
        <span class="footer__copyright">本站由 <a href="http://onev.cat">@onevcat</a> 创建，采用 <a href="https://github.com/onevcat/vno-jekyll">Vno - Jekyll</a> 作为主题，您可以在 GitHub 找到<a href="https://github.com/onevcat/OneV-s-Den">本站源码</a> - &copy; 2017</span>
    </footer>
</section>

        </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.11.3.min.js') }}"></script>

<script type="text/javascript" src=" {{ url_for('static',filename='js/highlight.pack.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-25719337-1', 'onevcat.com');
    ga('send', 'pageview');
</script>


    
  </body>

</html>
